#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_nbnintegral
#build/nbnintegrald::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_nbnintegral)

DEB_INSTALL_EXAMPLES_nbnintegrald += debian/examples/*
DEB_INSTALL_MANPAGES_nbnintegrald += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix nbnintegrald
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f nbnintegral-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake nbnintegral-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_nbnintegral
	src/test_nbnintegral

# Ensure wrapper is set executable
binary-post-install/nbnintegrald:
	chmod +x $(cdbs_curdestdir)usr/bin/nbnintegrald
binary-post-install/nbnintegral-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/nbnintegral-qt
